SSM_pro/SSM_Web/App_WebReferences/GiaoVienDAO/GiaoVienDAO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertGiaoVien">
        <s:complexType />
      </s:element>
      <s:element name="InsertGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertGiaoVienResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGiaoVien">
        <s:complexType />
      </s:element>
      <s:element name="UpdateGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateGiaoVienResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="magv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteGiaoVienResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListGV">
        <s:complexType />
      </s:element>
      <s:element name="ListGVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListGVResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchbyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hoten" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchbyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchbyNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:InsertGiaoVien" />
  </wsdl:message>
  <wsdl:message name="InsertGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:InsertGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGiaoVien" />
  </wsdl:message>
  <wsdl:message name="UpdateGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGiaoVien" />
  </wsdl:message>
  <wsdl:message name="DeleteGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="ListGVSoapIn">
    <wsdl:part name="parameters" element="tns:ListGV" />
  </wsdl:message>
  <wsdl:message name="ListGVSoapOut">
    <wsdl:part name="parameters" element="tns:ListGVResponse" />
  </wsdl:message>
  <wsdl:message name="SearchbyNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchbyName" />
  </wsdl:message>
  <wsdl:message name="SearchbyNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchbyNameResponse" />
  </wsdl:message>
  <wsdl:portType name="GiaoVienDAOSoap">
    <wsdl:operation name="InsertGiaoVien">
      <wsdl:input message="tns:InsertGiaoVienSoapIn" />
      <wsdl:output message="tns:InsertGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGiaoVien">
      <wsdl:input message="tns:UpdateGiaoVienSoapIn" />
      <wsdl:output message="tns:UpdateGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGiaoVien">
      <wsdl:input message="tns:DeleteGiaoVienSoapIn" />
      <wsdl:output message="tns:DeleteGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListGV">
      <wsdl:input message="tns:ListGVSoapIn" />
      <wsdl:output message="tns:ListGVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchbyName">
      <wsdl:input message="tns:SearchbyNameSoapIn" />
      <wsdl:output message="tns:SearchbyNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GiaoVienDAOSoap" type="tns:GiaoVienDAOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGiaoVien">
      <soap:operation soapAction="http://tempuri.org/InsertGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGiaoVien">
      <soap:operation soapAction="http://tempuri.org/UpdateGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGiaoVien">
      <soap:operation soapAction="http://tempuri.org/DeleteGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGV">
      <soap:operation soapAction="http://tempuri.org/ListGV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchbyName">
      <soap:operation soapAction="http://tempuri.org/SearchbyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GiaoVienDAOSoap12" type="tns:GiaoVienDAOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGiaoVien">
      <soap12:operation soapAction="http://tempuri.org/InsertGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGiaoVien">
      <soap12:operation soapAction="http://tempuri.org/UpdateGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGiaoVien">
      <soap12:operation soapAction="http://tempuri.org/DeleteGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGV">
      <soap12:operation soapAction="http://tempuri.org/ListGV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchbyName">
      <soap12:operation soapAction="http://tempuri.org/SearchbyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GiaoVienDAO">
    <wsdl:port name="GiaoVienDAOSoap" binding="tns:GiaoVienDAOSoap">
      <soap:address location="http://localhost:55273/SSM_WebServices/DAO/GiaoVienDAO.asmx" />
    </wsdl:port>
    <wsdl:port name="GiaoVienDAOSoap12" binding="tns:GiaoVienDAOSoap12">
      <soap12:address location="http://localhost:55273/SSM_WebServices/DAO/GiaoVienDAO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>